body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c8c8c;
    height: 100vh;
    margin: 0;
}

.content {
    border: solid;
    border-radius: 5%;
    background-color: #505050;
}